* { margin: 0; padding: 0; }

@font-face {
    font-family:'Buttons';
    src:url('Buttons.ttf');
}

body {
    background-color: #32302f;
    display:flex;
    flex-direction:column;
}

header {
    background-color: #cc241d;
}
    h1 {
        font-family: 'Buttons', serif;
        color: #fbf1c7;
        margin: 20px;
        text-shadow: #32302f 1px 1px 1px;
        letter-spacing: 2px;
        font-size: 45px;
    }

    nav menu {
        background-color: #fbf1c7;
        font-family: sans-serif;
        font-size: 18px;
        padding: 5px;
        padding-left: 18px;
        display: flex;
        list-style-type: none;
    }

    menu li a {
        background-color: #ebdbb2;
        color: #504945;
        margin-left: 3px;
        padding: 1px 10px;  
        text-decoration: none;

    }

    menu li a:hover {
        background-color: #504945;
        color: #fbf1c7;
        text-decoration: none;
    }

main {
    font-family: 'Fredoka', sans-serif;
    color: #fbf1c7;
    padding: 10px;
}

