@font-face {
    font-family:'Buttons';
    src:url('Buttons.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

header {
    background-color: #fbf1c7;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Buttons', serif;
    letter-spacing: 2px;
    font-size: 40px;
    color: #fbf1c7;
    text-align: center;
    margin-top: 10px;
}

body {
    background-color: #32302f;
    font-family: 'Josefin Sans', sans-serif;
    color: #fbf1c7;
    margin: 10px;
    padding: 5px;
}

nav menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    font-size: 20px;
    background-color: #fbf1c7;
}

